<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>QR Code Display</title>
    <link rel="stylesheet" href="{{url_for('static', filename='style/qrcode.css')}}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Black+Ops+One&display=swap" rel="stylesheet">
</head>
<body>
    
   <main>
    <h3>Scan this QR code </h3>
    <br>
    <img src="data:image/png;base64,{{ qr_img_base64 }}" alt="QR Code">
   </main>
   <aside>
    <div class="icon-cont">
        <img class="icon" src="{{ url_for('static', filename='images/check.png') }}" alt="untick">
        <p>Face Recognition</p>
    </div>
    <div class="icon-cont">
        <img class="icon" src="{{ url_for('static', filename='images/unchecked.png') }}" alt="untick">
        <p>Mobile Authenticator</p>
    </div>
    <div class="icon-cont">
        <img class="icon" src="{{ url_for('static', filename='images/unchecked.png') }}" alt="untick">
        <p>Signature Analysis</p>
    </div>
</aside>
</body>
</html>
